/* font-family: "Inter Tight", sans-serif; */ 

body {
    font-family:"Inter Tight", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #030301;
    background-color: #fdefd7;
    text-align: center;
}
.container {
    width:45%;
}

.container-fluid {
    width:80%;
}

header.container {
    width: 45%;
    border: 2px, solid, #AD1A64;
    margin-bottom: 10px;
}

.pink {
    color:#AD1A64;
}

.blue {
    color:#116ab3;
}

.teal {
    color: #08706f;
}

.orange {
    color:#e94613;
}

.subhead {
    font-style: italic;
}

h1{
    font-size: 4em;

}

.byline {
    font-size:0.85em;
}

main {
    border: 2px, solid, #AD1A64;
    margin: 20px;
}

section.container {
    width:45%; 
    border:2px,solid,#AD1A64;
    margin-top: 30px;
    margin-bottom:10px;
}

.chart-hed {
    font-size: 2em;
}


.chart-subhed {
    color:#AD1A64;
}

.chart {
    border: 2px, solid, #030301;
    width:80%
}

#chart-1, #chart-2, #chart-3{
    border: 2px, solid,#030301;
}

a {
    color: #030301;
}

footer.container {
    border: 2px, solid, #AD1A64;
}

@media (max-width:950px) {
    .container, .container-fluid {
        width: 75%;
    }
    p .chart {
        padding:1em;
        font-size: 1.25em;
        text-align: center;
    }
}

@media (max-width:556px) {
    .container, .container-fluid{
        width:95%;
    }
    h1 {
        font-size:3em;
    }
    .chart-hed {
        font-size: 1.75em;
        padding: 1em;
    }
    img .chart {
        padding:2m;
    }
}