/*font-family: "Merriweather", serif;
font-family: "Poppins", sans-serif; 
font-family: "Lora", serif; */

header {
   font-family: "Merriweather",serif;
   background-color: #2a0800;
   color: #f4dbd8;
   text-align: center;
   padding: 50pt;
   font-size: 30pt;
   font-style: italic;
}

nav a{
    text-decoration: none;
    color: #f4dbd8;

}

body {
    font-family: "Lora", serif;
    background-color: #f4dbd8;
}

footer{
    background-color: #2a0800;
    text-align: center;
    padding: 60pt;
    font-family: "Merriweather", serif;
    font-size: 15pt;
}

#headshot {
    padding-top: 20pt;
    padding-bottom: 20pt;
}

#AboutMe {
    padding-top: 10pt;
    color: #775144 ;
}

#Skills {
    color:#775144;
    font-weight: bold;
}

#Homepage {
    text-align: center;
    padding: 50px;
    font-size: 50pt;
}

h1 {
    font-size: 50pt;
    font-family: "Merriweather",serif;
    font-style: normal;
}

#Journalist {
    font-style: italic;
}

#SBS {
    margin-top: 10pt;
    background-color: #c09891 ;
}

h2 {
    font-weight: bold;
    font-size: 22pt;
}

h3 {
    font-style: italic;
    font-size: 18pt;
}

h4 {
    font-size: 15pt;
}

p {
    font-size: 12pt;
}

#DBK {
    background-color: #bea8a7;
}

.SBS-Logo {
    width: 300px;
    height:300px;
    margin-top: 20px;
}

.His-eye-logo {
    width:400px;
    height: 300px;
}

#OPTIC {
    background-color: #c09891;
}

#HISEYE {
    background-color: #bea8a7;
}

#LEADER {
    background-color: #c09891;
}

#Me {
    margin: 10px;
}

a {
    color: #2a0800;
    text-decoration: none;
    font-size: 20pt;
}

a:hover {
    font-weight: bold;
}

.text {
    color: #2a0800;
    font-size: 15pt;
}

.socials {
    color:#f4dbd8;
    text-align: center;
}