/*font-family: "Merriweather", serif;
font-family: "Poppins", sans-serif; 
font-family: "Lora", serif; */

body,
strong {
    font-family: "Lora", serif;
    background-color: #f4dbd8;
    font-size: 16px;
    color: #2a0800;
}


header {
   font-style: italic;
}

footer{
    font-size: 15px;
}

footer a{
    padding: 0 20px;
}

header,
footer {
    font-family: "Merriweather",serif;
   background-color: #2a0800;
   color: #f4dbd8;
   text-align: center;
   padding: 50px;
   font-size: 2.5em;
}

h1 {
    font-size: 4em;
    font-family: "Merriweather",serif;
    font-style: normal;
}


h2 {
    font-weight: bold;
    font-size: 1.75em;
}

h3 {
    font-style: italic;
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

#Journalist {
    font-style: italic;
}


main{
    padding:2em;
}

nav a{
    text-decoration: none;
    color: #f4dbd8;
}

#AboutMe {
    padding-top: 10pt;
}


.dark {
    background-color: #c09891;
}

.light {
    background-color: #bea8a7;
}


.SBS-Logo {
    width: 300px;
    margin:0 auto;
    display: block;
    margin: 0 0 24px 0;
}

.His-eye-logo {
    width:400px;
    margin:0 auto;
    display: block;
    margin: 0 0 24px 0;
}

a {
    color: #2a0800;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    font-weight: bold;
}

footer a {
    color: #f4dbd8;
    text-align: center;
}