/*font-family: "Oswald", sans-serif;
font-family: "Roboto", sans-serif; 
font-family: "Source Code Pro", monospace; \
dark gray: #424242
light gray: #999999 
pink: #e91d63 
middle gray: #666666 */

body,
strong {
    font-family: "Source Code Pro", monospace;
    background-color: #fff;
    font-size: 16px;
    color: #666666;
}


header {
   font-style: italic;
}

footer{
    font-size: 15px;
}

footer a{
    padding: 0 20px;
}

header,
footer {
    font-family: "Roboto", sans-serif;
   background-color: #999999;
   color: #424242;
   text-align: center;
   padding: 50px;
   font-size: 2.5em;
}

h1 {
    font-size: 3em;
    font-family: "Oswald", sans-serif;
    font-style: normal;
}


h2 {
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    color: #e91d63;
    font-weight: bold;
    font-family: "Source Code Pro", monospace;
}

h4 {
    font-size: 1.25em;
    color:#999999;
}

.PUB-LINK{
   font-family: "Source Code Pro", monospace;
   background-color: #fff;
   font-size: 16px;
   color: #e91d63; 
}

#Journalist {
    font-style: italic;
    font-size: 1.25em;
    color:#424242;
}

.position {
    color: #666666;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
}

main{
    padding:2em;
}

nav a{
    text-decoration: none;
    color:#e91d63;
    font-family: "Oswald", sans-serif;
}

#AboutMe {
    padding-top: 10pt;
}


.dark {
    background-color: #c09891;
}

.light {
    background-color: #bea8a7;
}


.SBS-Logo {
    width: 300px;
    margin:0 auto;
    display: block;
    margin: 0 0 24px 0;
}

.His-eye-logo {
    width:400px;
    margin:0 auto;
    display: block;
    margin: 0 0 24px 0;
}

a {
    color: #2a0800;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    font-weight: bold;
}

footer a {
    color: #e91d63;
    text-align: center;
}